{{!-- FOOTER --}}
<footer class="page-footer black accent-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">| Twitter Sentiment Project 2 |</h5>
        <p class="grey-text text-lighten-4">something will go here</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Team</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/jjisharry">JJ Harry</a>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/mike929">Michael Wilson</a>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/oscarvanegas34">Oscar
              Vanegas</a>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/sammysosa23">Sam
              Terrazas</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{!-- BOTTOM FOOTER --}}
  <div class="footer-copyright blue-grey darken-4">
    <div class="container">
      Project Name © 2019
      <a class="grey-text text-lighten-4 right" href="#!">
        <i class="material-icons left">keyboard_arrow_up</i> Back To Top
      </a>
    </div>
  </div>
</footer>

{{!-- JQUERY CDN --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{{!-- JAVASCRIPT FILE --}}
<script type="text/javascript" src="./public/js/materialize.min.js"></script>
<script type="text/javascript" src="./public/js/app.js"></script>