{{!-- NAVBAR --}}
<header>
  <nav>
    <div class="nav-wrapper black accent-2">
      <a href="/" class="brand-logo" id="logo">Project Name Here</a>
      <ul class="right hide-on-med-and-down" id="head-nav-links">
        <li><a href="/aboutUs" target="">About Us</a></li>
        <li><a href="https://github.com/mike929/project2" target="_blank">GitHub Repo</a></li>
      </ul>
    </div>
  </nav>
</header>