<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Search</h5>
          <p>
            <strong>ID</strong>: {{search.id}}</p>
          <p>
          <p>
            <strong>Search</strong>: {{search.tweet}}</p>
          <p>
            <strong>Date:</strong> {{search.date}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
