{{!-- MAIN BODY CONTAINER --}}
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- WELCOME MESSAGE --}}
        <h1>{{msg}}</h1>
        <h3>something will go here</h3>
        <form class="clearfix mb-4" action="POST">
          {{!-- SEARCH FORM --}}
          <div class="form-group">
            <label for="post">Keyword</label>
            <input placeholder="search" id="post" type="text" data-length="40">
          </div>
          <button id="submitButton" class="btn waves-effect waves-light black">Submit</button>
        </form>
        {{!-- TWEETS WILL GO HERE ONCE DATA IS PULLED --}}
        {{!-- THIS CAN BE MOVED TO ANOTHER PAGE OR JUST DROP DOWN FURTHER --}}
        {{!-- LET ME KNOW WHAT YOU GUYS THINK ABOUT WHERE TO PLACE THE DATA --}}
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{!-- JQUERY CDN --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{{!-- JAVASCRIPT FILE --}}
<script type="text/javascript" src="./public/js/app.js"></script>