.list-group-item {
  line-height: 2.5;
}

body {
  width: 75%;
  margin: 0px auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  height: 100px;
}

header>nav {
  height: 100%;
  color: black;
}

main {
  flex: 1 0 auto;
}

main.container {
  align-content: center;
}

main h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

main h2, h3 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#submitButton {
  margin-top: 10px;
}

#logo-icon {
  margin-left: 50px;
  margin-top: 20px;
}

#logo {
  margin-left: 50px;
  margin-top: 20px;
}

#head-nav-links {
  margin-right: 50px;
  margin-top: 20px;
}

#mainpanel-content {
  margin: 70px;
}

.mainpanel {
  margin: 50px;
}